
In diesem Megatutorial beschäftigen wir uns mit der explorativen Datenanalyse in Python.

* Lade die Daten in `pandas`.
* Führe eine deskriptive Datenanalyse mit geeigneten, statisches Maßen durch.
* Führe eine deskriptive Datenanalyse mit Hilfe von geeigneten Visualisierungen durch.

#Notes
-wenn ich in ein Python Notebook eröffne, muss ich immer ein Kernel auswählen, in unserem Fall .venv (virtual environment)
-ein ! am Beginn einer Codezelle, wird nicht von Python sondern vom Terminal ausgeführt
-ich kann zum Beispiel eine Bibliothek mit !pip install direkt in mein venv installieren.

In [6]:
from pandas import read_csv

In [13]:
data = read_csv(
    "../data/fake_profiles.csv",
    sep=",",
    decimal=".",
    skiprows=None, #[0, 1, 10]
    usecols=range(1, 13)            
)


data.head(5)

  profile_pic  rel_num_numeric_char_username  ...  num_follows  is_fake
0         yes                           0.27  ...          955       no
1         yes                           0.00  ...          533       no
2         yes                           0.10  ...           98       no
3         yes                           0.00  ...          651       no
4         yes                           0.00  ...          126       no

[5 rows x 12 columns]

In [10]:
data

     Unnamed: 0 profile_pic  ...  num_follows  is_fake
0             0         yes  ...          955       no
1             1         yes  ...          533       no
2             2         yes  ...           98       no
3             3         yes  ...          651       no
4             4         yes  ...          126       no
..          ...         ...  ...          ...      ...
571         571         yes  ...          596      yes
572         572         yes  ...           75      yes
573         573         yes  ...          339      yes
574         574         yes  ...           73      yes
575         575         yes  ...          487      yes

[576 rows x 13 columns]